APP_NAME="Team LAN"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Paris

DOMAIN_NAME=team-lan.test
HUB_SUBDOMAIN_NAME=hub
APP_URL=http://${DOMAIN_NAME}

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=null
FILESYSTEM_DISK=local
QUEUE_CONNECTION=null

CACHE_STORE=file
CACHE_PREFIX=

MAIL_MAILER=null

VITE_APP_NAME="${APP_NAME}"

TELESCOPE_ENABLED=true

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://${HUB_SUBDOMAIN_NAME}.${DOMAIN_NAME}/connexion/callback
DISCORD_API_BOT_TOKEN=
DISCORD_APPLICATION_ID=${DISCORD_CLIENT_ID}
DISCORD_PUBLIC_KEY=
DISCORD_COMPONENT_INTERACTION_DEFAULT_BEHAVIOR=load
